*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    border: 2px solid black;
    width: 35vw;
    height: 60vh;
}

.calc-row{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.button-light, .button-dark{
    display: flex;
    width: 25%;
    justify-content: center;
    border: 2px solid lightgray;
    align-items: center;
    font-size: 24px;
}

#clear, #display{
    display: flex;
    justify-content: center;
    border: 2px solid lightgrey;
    align-items: center;
    font-size: 24px;
}

#clear{
    width: 25%;
}

#display{
    width: 75%;
}

.button-dark{
    background-color: rgb(171, 171, 171);
}

#equals{
    background-color: black;
}